<% if teacher_signed_in? %>
  <h1>Welcome <%= current_teacher.email %></h1>
  <p>Find me in app/views/home/index.html.erb</p>
<% else %>
  <h1>Welcome#home</h1>
  <p>Find me in app/views/home/index.html.erb</p>
<% end %>
